@font-face {
    font-family: 'Archivo Black';
    src: url('/src/assets/fonts/ArchivoBlack-Regular.otf') format('opentype'),
        url('/src/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    color: #393939;
}

body{
    overflow-x: hidden;
    margin: 0;
    background-color: #B3FFE5;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    justify-self: center;
    padding-bottom: 15px;
}

p {
    font-family: 'Avenir';
    font-size: 1rem;
}

main {
    width: 100vw;
    margin-top: -22rem;
}

article{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 140px;
}

.titleflowercontainer{
    width: fit-content;
}


.flowertitlepng {
    display: block;
    width: 57px;
    height: 58px;
    justify-self: center;
}

/* nav */



.navtop {
    margin-top: 1.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbg {
    position: absolute;
    width: 100vw;
    height: auto;
    display: block;
    z-index: -1;
}

.momulogo {
    padding-left: 1rem;
    width: 86px;
    height: auto;
}

.hamburgermenubutton {
    padding-right: 2rem;
    width: 40px;
    height: 30.666px;
}


.hamburgermenu{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-top: 2rem;
    margin-top: -1em;
    justify-self: right;
    background: rgba(255, 166, 122, 0.70);
    width: 182px;
    height: 420px;
    border-radius: 0 0 0 20px;
    z-index: 2;
}

.hamburgermenu li{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: underline;
}

/* Walter name header */

header{
    overflow: hidden;
    width: 100vw;
}

.header-flowerfadetop{
    position: absolute;
    top: 3rem;
    left: 20.5rem;
    z-index: -2;
    width: 83.852px;
    height: 74.824px;
    transform: rotate(-11.023deg);
    aspect-ratio: 83.85/74.82;
}

.header-flowerfademiddle{
    position: absolute;
    top: 10.5rem;
    left: 2rem;
    width: 67.645px;
    height: 60.362px;
    transform: rotate(-136.085deg);
    aspect-ratio: 67.64/60.36;
}

.header-bgmobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -3;
}

.Waltername{
    position: relative;
    z-index: -1;
    height: 197px;
}

.Waltername-Walter{
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.Waltername-Van{
    position: absolute;
    top: 4rem;
    left: 7rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Waltername-Beirendonck{
    position: absolute;
    top: 8rem;
    left: 1rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-choicebetween{
    margin-bottom: 1rem;
    justify-self: center;
    font-family: 'Ibarra Real Nova';
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
}

.header-commercialization{
    justify-self: center;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 5rem;
}

/* --- Initial goal --- */

.initialgoal-waltervbpng,.partnershipcontainer-designpng{
    display: block;
    justify-self: center;
    width: 150px;
    height: 150px;
    padding-top: 40px;
}

.mustanglogo{
    display: block;
    justify-self: center;
    width: 290px;
    height: 76px;
    height: auto;
}

/* --- Walters themes --- */

.stretchcanvascontainer{
    padding-top: 25px;
    width: 234.553px;
    justify-self: center;
}

.stretchcanvas{
    display: flex;
    flex-direction: column;
    border: 2px solid #08FF55;
    padding: 20px;
    height: 210px;
    overflow: hidden;
    align-items: center;
}



.imagebackgroundshape{
    z-index: -1;
    position: relative;
    width: 163.137px;
    height: 179.402px;
}

.stretchcanvas-img{
    width: 163.137px;
    height: 179.402px;
    padding-bottom: 5rem;
}

.stretchcanvas-dragger{
    width: 79.255px;
    height: 17px;
    transform: rotate(90deg);
    display: block;
    justify-self: center;
}

.stretchpath{
    position: relative;
    z-index: -1;
    display: block;
    justify-self: center;
}