:root {
    --nav-offset: 7.5rem;
    --orange: #FF9A3D;
    --cyan: #B3FFE5;
    --pink: #FF5887;
    --green: #08FF55;
}

@font-face {
    font-family: 'Archivo Black';
    src: url('/src/assets/fonts/ArchivoBlack-Regular.otf') format('opentype'),
        url('/src/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

body {
    min-width: 344px;
    margin: 0;
    background-color: var(--cyan);
    color: #393939;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    justify-self: center;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    justify-self: center;
    padding-bottom: 0.9375rem;
}

p {
    font-family: 'Avenir';
    font-size: 1rem;
    line-height: 150%;
}

main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.overflow {
    overflow-x: hidden;
}

article {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 8.75rem;

}

article,
[id] {
    scroll-margin-top: var(--nav-offset);
}

.titleflowercontainer {
    width: fit-content;
    justify-self: center;
}


.flowertitlepng {
    display: block;
    width: 3.5625rem;
    height: 3.625rem;
    justify-self: center;
}

/* nav */

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navtop {
    margin-top: 1.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbg {
    position: absolute;
    width: 100%;
    height: 6.25rem;
    z-index: -1;
}

.momulogo {
    padding-left: 1rem;
    width: 5.375rem;
    height: auto;
}

.hamburgermenubutton {
    padding-right: 2rem;
    width: 2.5rem;
    height: 1.9166rem;
}

.navbarbuttons--inactive {
    display: none;
}



.hamburgermenu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-top: 3rem;
    margin-top: -1em;
    justify-self: right;
    background: rgba(255, 166, 122, 0.70);
    width: 11.375rem;
    height: 26.25rem;
    border-radius: 0 0 0 1.25rem;
    z-index: 2;
}

.hamburgermenu li,
.navbarbuttons--inactive li {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.navbarbuttons--inactive li {
    font-size: 20px;
    width: 126px;
}

.navbarbuttons--inactive li a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--cyan);
}

.navbarbuttons--inactive li a {
    color: var(--cyan);
}

.hamburgermenu li a:visited,
.navbarbuttons--inactive li a:visited,
.bookticketscontainer:visited {
    color: var(--cyan);
}

.hamburgermenu li a:active,
.navbarbuttons--inactive li a:active,
.bookticketscontainer:active {
    color: var(--cyan);
}

.navbarbuttons--inactive li:hover a {
    color: var(--green);
}

.hamburgermenu li:hover a {
    color: var(--green);
}

.bookticketscontainer:hover p {
    color: var(--green);
}

/* Walter name header */
.header__choicecontainer {
    gap: 35rem;
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding-top: 7rem;
    margin-bottom: 5rem;
}

.header__flowerfadetop {
    position: absolute;
    top: 4rem;
    left: 80%;
    z-index: -2;
    width: 5.2408rem;
    height: 4.6765rem;
    transform: rotate(-11.023deg);
    aspect-ratio: 83.85/74.82;
}

.header__flowerfademiddle {
    position: absolute;
    top: 12rem;
    left: 2rem;
    width: 4.2278rem;
    height: 3.7726rem;
    transform: rotate(-136.085deg);
    aspect-ratio: 67.64/60.36;
}

.header__bgmobile {
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    height: 22.5rem;
    z-index: -3;
}

.header__bgmobile img {
    width: 100%;
    height: 100%;
}

.Waltername {
    position: relative;
    z-index: -1;
    height: 12.3125rem;
}


.Waltername__Walter {
    position: absolute;
    bottom: 6rem;
    left: 1rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
}

.Waltername__Van {
    position: absolute;
    top: 4rem;
    left: 7rem;
    color: var(--pink);
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
}

.Waltername__Beirendonck {
    position: absolute;
    top: 8rem;
    left: 1rem;
    color: var(--pink);
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
}

.header__choicebetween {
    margin-bottom: 1rem;
    justify-self: center;
    font-family: 'Ibarra Real Nova';
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
}

.header__commercialization,
.header__artistry {
    justify-self: center;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.header__artistry::before {
    content: "AND ";
}

/* --- Initial goal --- */

.initialgoal__waltervbpng,
.partnershipcontainer__designpng {
    display: block;
    justify-self: center;
    width: 9.375rem;
    height: 9.375rem;
    padding-top: 2.5rem;
}

.mustanglogo {
    display: block;
    justify-self: center;
    width: 18.125rem;
    height: 4.75rem;
    height: auto;
}

.intropartnershipsectionbg {
    position: absolute;
    top: 40rem;
    width: 100%;
    height: 450.35px;
    z-index: -1;
}

/* --- Walters themes --- */

.waltersthemescontainer .titleflowercontainer {
    justify-self: start;
}

.waltersthemescontainer {
    position: relative;
    height: 65rem;
}

.stretchcanvascontainer {
    justify-self: center;
    width: fit-content;
}

.stretchpathalligncontainer {
    padding-top: 1.5625rem;
}

.stretchcanvas {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0.125rem solid var(--green);
    border-width: 4px;
    padding: 1.5rem;
    height: 210px;
    width: 235px;
    overflow: hidden;
    align-items: center;
}



.imagebackgroundshape {
    z-index: -1;
    position: relative;
    width: 10.1961rem;
    height: 11.2126rem;
}

.stretchcanvas__img {
    width: 163.14px;
    height: 179.4px;
    padding-bottom: 5rem;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    flex-shrink: 0
}

.stretchcanvas__dragger {
    width: 4.9534rem;
    height: 1.0625rem;
    transform: rotate(90deg);
    display: block;
    justify-self: center;
    -webkit-user-drag: none;
}

.stretchcanvas__dragger:hover {
    cursor: ns-resize;
}


.stretchpath {
    position: absolute;
    top: 40rem;
    height: 30rem;
    z-index: -1;
    display: block;
    justify-self: center;
}

/* --- Break-up section --- */
.breakupcontainer {
    position: relative;
    padding-bottom: 900px;
}

.breakupcontainer__swoop {
    display: block;
    width: 16.4996rem;
    height: 2.5219rem;
    justify-self: center;
}

.breakupimgcontainer {
    display: flex;
    padding: 0 1.25rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.breakupimgcontainer img {
    width: 7rem;
    height: auto;
}

.breakup__decision {
    padding-top: 1.875rem;
    text-align: center;
    justify-self: center;
    width: 18.75rem;
}

.zipperplaceholder {
    position: absolute;
    display: block;
    width: 939.4px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.zipperplaceholder img {
    width: 100%;
    height: auto;
}

.zipper {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.startingfrom0__titlebg {
    position: absolute;
    top: 2rem;
    width: 102%;
    left: -2rem;
    height: 35px;
    z-index: -1;
}

.startingfrom0__underline {
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    height: 15px;
    z-index: -1;
}

.startingfrom0container {
    position: relative;
    margin-top: -25rem;
    margin-bottom: 20rem;
    justify-self: center;

}

.startingfrom0title {
    padding-bottom: 1.25rem;
}

.startingfrom0title__0 {
    font-size: 4rem;
}

.startingfrom0__outro {
    position: relative;
    padding-top: 3.125rem;
}

.startingfrom0__outro p {
    padding-bottom: 1rem;
}

.startingfrom0__outro p+p {
    font-weight: 800;
}

/* --- Speak his words section --- */



.recordbutton {
    position: relative;
    top: 6rem;
    display: block;
    width: 4.5rem;
    height: 5.125rem;
    justify-self: center;
}

.words {
    position: relative;
    width: 21.875rem;
    height: 15.625rem;
    justify-self: center;
}

.words p {
    position: absolute;

    font-style: italic;
}

.fashion {
    width: 147px;
    top: 7rem;
    right: 1rem;
    text-align: right;
}

.norules {
    width: 95px;
    top: -4rem;
    left: 7rem;
    text-align: center;
}

.truth {
    width: 108px;
    left: 14rem;
    text-align: right;
}

.stopthinking {
    width: 179px;
    top: 7rem;
    left: 0;
    text-align: left;
}

.freedom {
    width: 129px;
    left: 0;
    text-align: left;
}

/* --- New style --- */
.newstyle__bg {
    position: absolute;
    top: -4rem;
    left: -45rem;

    z-index: -3;
}

.newstylecontainer .titleflowercontainer {
    justify-self: start;
}

.newstylecontainer {
    position: relative;
}

.stretchsilhouette {
    width: 16.8rem;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.stretchhat {
    width: 5.1rem;
    transform-origin: center;
}

.stretchdress {
    width: 8.6rem;
    transform-origin: center;
}

.sizer {
    width: 3.4rem;
    cursor: nwse-resize;
}

.sizerhat {
    position: absolute;
    top: 1rem;
    left: 3.5rem;
    -webkit-user-drag: none;
}

.sizerdress {
    position: absolute;
    top: 2rem;
    left: -1.5rem;
    -webkit-user-drag: none;
}

.stretchdress,
.stretchhat {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}


.hatcontainer {
    position: relative;
    top: -20.5rem;
    left: 6rem;
    width: 6.9656rem;
    transform-origin: center;
}

.dresscontainer {
    position: relative;
    top: -18rem;
    left: 4rem;
    width: 10.4063rem;
    transform-origin: center;
}

.stretchcontainer {
    position: relative;
    padding-top: 5rem;
    justify-self: center;
}

/* --- The Goal --- */
.thegoalcontainer {
    position: relative;
}

.thegoalbg {
    position: absolute;
    top: 0;
    width: 110%;
    left: -5%;
    height: 467px;
    z-index: -1;
}

.thegoalcontainer p {
    padding-bottom: 3.125rem;
}

/* --- Caroussel --- */
.carousselloop {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 27%;
    width: 10rem;
    overflow-x: hidden;
}


.carousselcontainer {
    position: relative;
}

.carousselimgcontainer {
    display: flex;
    flex-direction: row;
}

.carousselimg {
    position: relative;
    width: 10rem;
    overflow: hidden;
    margin-right: 2.5rem;
}

.carousseltextcontainer {
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 7.875rem;
    height: 70px;
    top: 11rem;
    left: 15%;
}

.carousselimg p {
    display: unset;
    line-height: 100%;
    color: white;
}

.carousselcontainer__bg {
    position: absolute;
    top: -1rem;
    display: block;
    width: 57.375rem;
    justify-self: center;
}

.caroussel__prevbutton {
    position: absolute;
    top: 4rem;
}

.caroussel__prevbutton:hover,
.caroussel__nextbutton:hover {
    scale: 1.1;
}

.caroussel__nextbutton {
    position: absolute;
    right: 0;
    top: 4rem
}


/* --- Want more? --- */
.bookticketscontainer {
    padding-top: 2rem;
    position: relative;
}

.bookticketscontainer:hover p {
    color: var(--cyan);
}

.bookticketscontainer p {
    position: absolute;
    top: 40%;
    left: 12%;
    width: 5.625rem;
    min-width: 10%;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
}

.booktickets {
    padding-top: 1rem;
    font-weight: 800;
}

.MoMulink {
    padding-top: 2.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MoMuLogo {
    width: 5.8125rem;
}

.booktickets__button {
    width: 8.3031rem;
}

/* --- Footer --- */
footer {
    position: relative;
}

.footer_mobile {
    position: absolute;
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.otherstoriescontainer {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
}

.timegrid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    width: 80%;
    justify-self: center;


}

.timegrid__1,
.timegrid__2,
.timegrid__3,
.timegrid__4,
.timegrid__5 {
    justify-self: center;
    font-weight: 900;
    text-decoration: underline;
    color: var(--cyan);
    font-size: 1.375rem;
}

.timegrid__1 {
    grid-column: 1;
    grid-row: 1;
}

.timegrid__2 {
    grid-column: 3;
    grid-row: 1;
}

.timegrid__3 {
    grid-column: 1;
    grid-row: 2;
}

.timegrid__4 {
    grid-column: 3;
    grid-row: 2;
}

.timegrid__5 {
    grid-column: span 3;
    grid-row: 3;
}

.socialslist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    justify-self: center;
    padding-top: 1rem;
}

.footeraddress {
    text-align: center;
    font-weight: 800;
    width: 80%;
    justify-self: center;
    padding-top: 3rem;
}

/* --- Media Queries --- */
@media (min-width: 400px) {
    .stretchpath {
        top: 35rem;
        height: 30rem;
    }
}

@media (min-width: 500px) {
    .zipper {
        top: 15rem;
    }
}

@media (min-width: 37.5em) {


    .initialgoalcontainer,
    .partnershipcontainer,
    .waltersthemescontainer,
    .breakupcontainer,
    .startingfrom0container,
    .newstylecontainer,
    .thegoalcontainer,
    .carosselcontainer,
    .bookticketscontainer,
    .wantmorecontainer {
        margin-left: 10%;
        margin-right: 10%;
    }

    .header__flowerfadetop {
        top: 6rem;
        left: 80%;
        width: 6.2408rem;
        height: 5.6765rem;
    }

    .header__flowerfademiddle {
        left: 10rem;
    }

    .Waltername {
        left: 9rem;
    }

    .initialgoal__waltervbpng,
    .partnershipcontainer__designpng {
        width: 12rem;
        height: auto;
    }

    .waltersthemescontainer {
        height: 70rem;
    }

    .stretchcanvas {
        height: 18rem;
        width: fit-content;
    }

    .stretchcanvas__img {
        width: 14rem;
        height: auto;
    }

    .stretchpath {
        top: 38rem;
        height: 35rem;
    }

    .stretchcanvas__dragger:hover {
        cursor: ew-resize;
    }

    .breakupimgcontainer {
        padding: 0 2rem;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .breakupimgcontainer img {
        width: 10rem;
        height: auto;
    }

    .breakup__part2 {

        width: 20rem;
        justify-self: center;
    }

    .breakup__decision {

        width: 15rem;
    }

    .speakhiswordscontainer {
        margin-bottom: 6.75rem;
    }

    .recordcontainer {
        padding-top: 2rem;
    }

    .words p {
        font-size: 20px;
    }

    .fashion {
        top: 8rem;
        right: 0;
    }

    .norules {
        width: 120px;
        top: -5rem;
    }

    .truth {
        width: 140px;
        left: 15rem;
    }

    .stopthinking {
        top: 8rem;
        left: -3rem;
    }

    .freedom {
        width: 150px;
        left: -3rem;
    }

    .stretchsilhouette {
        width: 19rem;
    }

    .stretchhat {
        width: 7.3rem;
    }

    .stretchdress {
        width: 10.8rem;
    }

    .sizedhat {
        top: 2rem;
        left: 5.5rem;
    }

    .sizedress {
        top: 3rem;
        left: -1.6rem;
    }

    .hatcontainer {
        top: -24.7rem;
        left: 6rem;
    }

    .dresscontainer {
        position: relative;
        top: -21.8rem;
        width: 10.4063rem;
        transform-origin: center;
    }

    .thegoalbg {
        position: absolute;
        top: 0;
        width: 124%;
        left: -12%;
        height: 467px;
        z-index: -1;
    }

    .carousselloop {
        margin-left: 20%;
        width: 22.5rem;
    }
}

@media (min-width: 800px) {
    .carousselloop {
        margin-left: 13%;
        width: 35rem;
    }
}

@media (min-width: 900px) {
    .zipperplaceholder {
        width: 100vw;
    }

    .carousselcontainer__bg {
        width: 100vw;
    }
}

@media (min-width: 975px) {
    .carousselloop {
        margin-left: 10%;
        width: 48rem;
    }
}

@media (min-width: 64em) {
    main {
        margin-top: 0;
    }

    .momulogo {
        width: 168px;
    }

    .navbg {
        height: 160.07px;
    }

    .hamburgermenubutton {
        display: none;
    }

    .navbarbuttons--inactive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 71%;
        padding-right: 7%;
        gap: 2rem;
    }

    h1 {
        font-size: 82px;
    }

    h2 {
        font-size: 62px;
    }

    p {
        font-size: 20px;
    }

    header {
        padding-top: 18rem;
    }

    .header__choicecontainer {
        display: flex;
        flex-direction: row;
        gap: 35rem;
        transition: transform 0.4s ease;
    }

    .header__choicecontainer:hover {
        transform: translateX(-80rem);
    }

    .header__flowerfadetop {
        position: absolute;
        top: -10%;
        left: 80%;
        z-index: -2;
        width: 293px;
        height: auto;
    }

    .headertextcontainer {
        width: 100%;
    }

    .header__flowerfademiddle {
        width: 128.63px;
        height: auto;
        left: 0;
        top: 25rem;
    }

    .Waltername {
        position: relative;
        justify-self: center;
        z-index: -1;
        width: 829px;
        height: 12.3125rem;
        top: -5rem;
        left: 0;
    }


    .Waltername__Walter {
        font-size: 100px;
    }

    .Waltername__Van {
        font-size: 82px;
        left: 38%;
    }

    .Waltername__Beirendonck {
        font-size: 100px;
        left: 12%;
    }

    .header__choicebetween {
        font-size: 62px;
        justify-content: space-between;
    }

    .header__commercialization,
    .header__artistry {
        font-size: 72px;
    }

    .header__artistry {
        padding-right: 52rem;
    }

    .header__artistry::before {
        content: " ";
    }

    .flowertitlepng {
        width: 107px;
        height: auto;
    }

    .initialgoal__waltervbpng,
    .partnershipcontainer__designpng {
        display: block;
        width: 100%;
        height: auto;
    }

    .initialgoalcontainer {
        display: grid;
        grid-template-columns: minmax(200px, 280px) auto;
        grid-template-rows: auto;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .partnershipcontainer {
        display: grid;
        grid-template-columns: auto minmax(200px, 280px);
        grid-template-rows: auto;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .initialgoal__titletextcontainer {
        grid-column: 2;
        grid-row: 1;
        width: 600px;
    }

    .partnership_titletextcontainer {
        grid-column: 1;
        grid-row: 1;
        width: 600px;
    }

    .partnershipcontainer__designpng {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }

    .initialgoal__waltervbpng {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
    }

    .titleflowercontainer {
        justify-self: start;
    }

    .waltersthemescontainer {
        height: 40rem;
        width: 600px;
    }

    .stretchcanvas {
        display: flex;
        flex-direction: row;
        height: 18rem;
        width: 220px;
    }

    .stretchcanvas__img {
        width: 200px;
        height: 200px;
        padding-bottom: 0;
        padding-right: 3rem;
        flex-shrink: 0;
    }

    .stretchcanvascontainer {
        display: flex;
        height: fit-content;
        justify-self: unset;
        flex-direction: row;
    }

    .stretchcanvas__dragger {
        transform: rotate(0deg);
        justify-self: unset;
        align-self: center;
        margin-left: -4rem;
        width: 129.41px;
        height: 39px;
    }

    .stretchpathalligncontainer {
        display: flex;
        padding-top: 3rem;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
    }

    .stretchpath {
        position: relative;
        transform: rotate(90deg);
        top: auto;
        left: 33rem;
        height: auto;
        z-index: auto;
    }

    .zipperplaceholder {
        top: 35%;
    }

    .zipper {
        position: absolute;
        display: block;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 252%;
    }

    .breakupcontainer {
        position: relative;
        padding-bottom: 1200px;
    }

    .breakupcontainer__titlecontainer,
    .speakhiswordscontainer__titlecontainer {
        justify-self: center;
    }

    .recordcontainer {
        padding-top: 4rem;
    }

    .words p {
        font-weight: 800;
        font-size: 35px;
    }

    .norules {
        width: 412px;
        top: -3rem;
        left: 15rem;
    }

    .stopthinking {
        width: 400px;
        top: -5rem;
        left: -15rem;
    }

    .freedom {
        width: 407px;
        top: 5rem;
        left: -20rem;
    }

    .truth {
        width: 383px;
        top: 4rem;
    }

    .fashion {
        top: 10rem;
        width: 465px;
    }

    .newstylecontainer__contentcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        gap: 3rem;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .newstylecontainer__titletextcontainer {
        width: 400px;
        height: fit-content;
    }

    .stretchcontainer {
        align-self: center;
        ;
        padding-top: 10rem;
        padding-right: 20rem;
        height: fit-content;
    }

    .thegoalcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
    }

    .thegoaltitle {
        font-size: 80px;
    }

    .carousselloop {
        width: 41rem;
        margin-left: 19%;
    }

    .carousselimg {
        width: 275px;
        height: auto;
        margin-right: 59px;
    }

    .carousseltextcontainer {
        top: 20rem;
        left: 28%;
        width: 145px;
    }

    .carousselimg img {
        width: 275px;
        height: auto;
    }

    .carousselcontainer__bg {
        padding-top: 3rem;
    }

    .caroussel__nextbutton,
    .caroussel__prevbutton {
        top: 8rem;
    }

    .caroussel__prevbutton {
        left: 5rem;
    }

    .caroussel__nextbutton {
        right: 5rem;
    }

    .wantmorecontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        overflow-y: hidden;
    }

    .MoMuLogo {
        width: 150px;
    }

    .MoMulink {
        padding-top: 8rem;
    }

    .footer_mobile {
        top: -4rem;
        height: 500px;
    }

    .timegrid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .socialslisttitletext {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .socialslist {
        padding-top: 0;
        width: 547px;
    }

    .footeraddress {
        width: 344px;
    }
}

@media (min-width: 1200px) {
    .zipper {
        top: 10rem;
    }

    .startingfrom0container {
        justify-self: start;
    }

    .startingfrom0__maintext {
        width: 500px;
    }

    .startingfrom0__bodytext {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
    }

    .startingfrom0__outro {
        padding-top: 5.8rem;
    }

    .startingfrom0__outro p {
        text-align: end;
        padding-bottom: 35px;
    }

    .startingfrom0__underline {
        padding-left: 10rem;
    }

    .stopthinking {
        width: 564px;
        top: -5rem;
        left: -15rem;
    }

    .thegoaltitle {
        font-size: 92px;
    }

    .thegoalcontainer p {
        padding-bottom: 0;
    }


}

@media (min-width: 1300px) {
    .carousselloop {
        width: 61rem;
        margin-left: 13%;
    }
}

@media (min-width: 1400px) {
    .carousselloop {
        margin-left: 15%;
    }
}