@font-face {
    font-family: 'Archivo Black';
    src: local('Archivo Black'), local('Archivo-Black'),
        url('./assets/fonts/ArchivoBlack.woff2') format('woff2'),
        url('./assets/fonts/ArchivoBlack.woff') format('woff'),
        url('./assets/fonts/ArchivoBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    color: #393939;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
}

p {
    font-family: 'Avenir';
    font-size: 1rem;
}

body {
    margin: 0;
    background-color: #B3FFE5;
}

main {
    width: 100vw;
    margin-top: -22rem;
}

/* nav */


.navtop {
    margin-top: 1.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbg {
    position: absolute;
    width: 100vw;
    height: auto;
    display: block;
    z-index: -1;
}

.momulogo {
    padding-left: 1rem;
    width: 86px;
    height: auto;
}

.hamburgermenubutton {
    padding-right: 2rem;
    width: 40px;
    height: 30.666px;
}


.hamburgermenu{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-top: 2rem;
    margin-top: -1em;
    justify-self: right;
    background: rgba(255, 166, 122, 0.70);
    width: 182px;
    height: 420px;
    border-radius: 0 0 0 20px;
    z-index: 2;
}

.hamburgermenu li{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: underline;
}

/* Walter name header */

.Waltername{
    position: relative;
    z-index: -1;
    height: 197px;
}

.Waltername-Walter{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;   
}

.Waltername-Van{
    position: absolute;
    top: 2rem;
    left: 7rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.Waltername-Beirendonck{
    position: absolute;
    top: 5rem;
    color: #FF5887;
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}